.App {
    text-align: center;
    margin: 10px;
}

.App-logo {
    height: 40vmin;
}

.bottom {
    align-items: center;
    justify-content: center;
}

.App-header {
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}

.image-container {
    width: 10px;
    height: 10px;
}

.text {
    color: black;
}

.heading {
    font-family: Didot;
    padding-left: 10%;
    text-align: left;
}

.featured-items-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.featured-items {
    display: flex;
    width: 300px;
    height: 200px;
    background-color: #363636;
}

/* .content-black {
    background-color: #000000;
    color: white;
    font-family: Didot;
    text-align: left;
    display: flex;
    flex-direction: row;
} */

.content-white {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-family: Didot;
    text-align: justify;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 75%;
    margin: auto;
}

.content-white-column {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-family: Didot;
    text-align: justify;
    justify-content: center;
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
}

.qa {
    /* padding-left: 80px; */
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.featured-video-container {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    width: 85%;
    margin: auto;

}

.row {
    flex-direction: column;
}

.article-heading {
    text-align: center;
}