.App-AU {
    text-align: center;
}

.App-header-AU {
    background-color: #28292c;
    height: auto;
    min-height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    font-family: Didot;
}

.App-info-AU {
    background-color: white;
    height: auto;
    min-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
    font-family: Didot;
}

.App-logo {
    height: 40vmin;
}

.heading {
    font-family: Didot;
}